
.btn {
    margin-top: 2%;
    width: 10%;
    background: cyan;
    box-shadow: 0 0 5px cyan, 0 0 30px cyan;
    font-weight: bolder;
}

.btn:hover {
    color: cyan;
    box-shadow: 0 0 5px cyan, 0 0 40px, cyan;
}

a {
    color: black;
    text-decoration: None;
    cursor: default;
}

@media (max-width: 800px) {

    .btn {
        margin-top: 2%;
        width: 35%;
        background: cyan;
        box-shadow: 0 0 5px cyan, 0 0 30px cyan;
        font-weight: bolder;
    }
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

.map-container-section {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-section iframe {
    left: 0;
    top: 0;
    height: 90%;
    width: 100%;
    position: absolute;
}

.box {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
}

.skill {
    width: 160px;
    height: 160px;
    position: relative;
}

.outer {
    width: 160px;
    height: 160px;
    /* border: 1px solid orangered; */
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 20px;
}

.inner {
    height: 120px;
    width: 120px;
    /* border: 1px solid orangered; */
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#number {
    font-weight: 700;
    color: #555;
    font-size: 20px;
    font-family: algerian;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    transform: rotate(-90deg);
    transform-origin: center;
    animation: anim 1s linear forwards;
}

@keyframes anim {
    100% {
        stroke-dashoffset: 155.5;
    }
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}